<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="exceptions" xsi:type="File" fileName="C:\Users\Andrzej\source\repos\RestaurantAPI5\RestaurantAPILogs\nlog-all-exceptions-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}" />

        <target name="logfile" xsi:type="File" fileName="C:\Users\Andrzej\source\repos\RestaurantAPI5\RestaurantAPILogs\nlog-all-${shortdate}.log"
                layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="logfile" />
        <logger name="RestaurantAPI5.*" minlevel="Error" writeTo="exceptions" />


    </rules>
</nlog>